/* 全局字体 */
* {
    font-family: "Noto Sans Mono CJK SC", monospace;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

/* 状态栏本体：全透明背景 */
window#waybar {
    background: #222436;
    color: #c8d3f5;
}

/* 每个模块的通用样式 */
#workspaces button{
    padding: 0;
    color: #e0e0e0;
}

/* 工作区样式：简洁的下划线或高亮 */
#workspaces button {
    background-color: transparent;
    color: #828bb8;
}

#workspaces button.focused {
    color: #c8d3f5;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    color: #ff757f;
}
